// colors
$bgLightColor: #fafcfe;
$primaryBrandColor: #20b2aa;
$secondaryBrandColor: #008b8b;
// $secondaryColor: #0a9396;
$textColor: #4a4a68;
$subtleTextColor: #8c8ca1;
$altTextColor: #808080;
// $primaryWhiteColor: #fff9f6;
$accentColor: #ecf1f4;

// fonts
$metropolis: 'Metropolis', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;
$centuryGothic: 'Century Gothic', sans-serif;
$workSans: 'Work Sans', sans-serif;
