@import '../../sass/variables.scss';

.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15rem 10.3rem 10rem;

  .left {
    .text {
      .headerText {
        position: relative;

        .fancyUnderline {
          position: absolute;
          top: 8.1rem;
          right: 0;
        }
      }

      .unique {
        background: $primaryBrandColor;
        color: white;
      }

      p {
        margin-top: 2.7rem;
        width: 35rem;
      }
    }

    .testimonial {
      margin-top: 9.4rem;
    }
  }

  .right {
    width: 50%;

    .img {
      position: absolute;
      top: 12rem;
      right: 0;
    }
  }
}
