@import '../../sass/variables.scss';

.heroSection {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15rem 10.3rem 10rem;

  .left {
    .text {
      .headerText {
        position: relative;

        .fancyUnderline {
          position: absolute;
          top: 8.1rem;
          right: 0;
        }
      }

      .unique {
        background: $primaryBrandColor;
        color: white;
      }

      p {
        margin-top: 2.7rem;
        width: 35rem;
      }
    }

    .testimonial {
      margin-top: 9.4rem;
    }
  }

  .right {
    width: 50%;

    background: conic-gradient(
      from 178.18deg at 50% 50%,
      #6c63ff 0deg,
      rgba(0, 222, 118, 0.25) 221.68deg,
      #8f00ff 360deg
    );
    filter: blur(350px);
    z-index: -1;
  }

  .img {
    position: absolute;
    top: 12rem;
    right: 0;
    z-index: 10;
  }
}
