@import '../../sass/mediaQueries.scss';

.faqSection {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  gap: 7.4rem;

  .text {
    flex: 1;
  }

  .img {
    position: relative;
    flex: 1;
    align-self: start;

    .dots {
      width: 15rem;
      height: 15rem;
      position: absolute;
      bottom: -10rem;
      z-index: -1;
    }
  }

  @include breakpoint(lg) {
    flex-direction: column;

    .img {
      width: 100%;
      align-self: center;

      & > img {
        width: 100%;
      }
    }
  }
}
